/* universal styles */

html {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;   
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

.cta {
    color:aquamarine;
    font-size: 16px;
}


/* header styles */

video {
    margin: 20px;
}

/* footer styles */

.copyright {
    color: gray;
    text-align: right;
}